.container {
	background-image: url('/Tela6/fotoEstudio.png');
	color: white;
	height: 18vh;
	width: 94%;
	border-radius: 5%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.informacoes {
	height: 50%;
}

.pontos {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	width: 18%;
	height: 4vh;
	border-radius: 12%;
}
